html,
body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  /* max-width: 600px; */
  /* min-width: 600px; */
  background-color: #323232;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #303030;
  margin: 10px 0 30px;
}

.card2 {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  margin: 10px auto;
  height: 340px;
  width: 400px;
  /* margin-left: 20px; */
  box-shadow: 1px 1px 15px 1px rgb(50, 50, 50);
  text-align: left;
  overflow: hidden;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 130px;
  width: 100%;
  background-color: #7a7a7a;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.05em;
  color: #fff;
  display: flex;
  flex: 1;
  margin: 2% 0.5% 0% 1%;
}

.cardImg {
  margin: 9% 0% 0% 4%;
  /* padding: 14% 0% 0% 4%; */
}

.circle-img {
  border-radius: 25px;
  border: 1.5px solid rgb(12, 12, 12);
  width: 100px;
  height: 100px;
  transform-origin: 0 0;
  transition: transform .2s, visibility .25s ease-in-out;
}

.circle-img:hover {
  transform: scale(2.5);
}

.bottom {
  margin-top: 110px;
}

.info {
  margin: 1% 0;
  color: #161616;
}

.col-spacing {
  margin: 40% 40% 40% 40%;
}

.h2-year {
  padding-top: 5%;
}

.Footer {
  text-align: "center";
}

.skill-row {
  width: 75%;
  margin: 50px auto 60px auto;
  text-align: left;
}



.self-image {
  width: 20%;
  border-radius: 25%;
}

.coding-img {
  width: 13%;
  float: left;
  margin-right: 15px;
}

.writing-img {
  width: 13%;
  float: left;
  margin-left: 15px;
}

.stats-img {
  width: 13%;
  float: left;
  margin-right: 15px;
}

.topCont {
  background-color: white;
  position: relative;
  padding-top: 15px;
  color: black;
}

.middle-container {
  margin: 0px 0px 100px 0px;
  background-color: #fff;
}