html,
body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  /* max-width: 600px; */
  /* min-width: 600px; */
  background-color: #323232;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #eeeeee;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #7b7b7b;
  margin: 50px 0;
  height: 200px;
  box-shadow: 1px 1px 15px 1px rgb(50, 50, 50);
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 130px;
  width: 100%;
  background-color: #646464;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.05em;
  color: #fff;
  display: flex;
  flex: 1;
  margin: 0.5% 0.5% 0% 1%;
}

.card img {
  margin: 4% 0% 0% 4%;
}

.circle-img {
  border-radius: 15px;
  border: 1.5px solid #fff;
  width: 100px;
  height: 100px;
  transform-origin: 0 0;
  transition: transform .2s, visibility .25s ease-in-out;
}

.circle-img:hover {
  transform: scale(2.5);
}

.bottom {
  margin-top: 110px;
}

.info {
  margin: 1% 0;
  color: #ffffff;
}